.card{
    margin: 1rem;
    background-color: #111111;
    max-width: 250px;
    object-fit: contain;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
.card > img{
    width: 100%;
}

.card__info{
    padding: 1rem;
}

.card__artist{
    min-width: 200px;
}