.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left{
    flex:0.5;
    background-color: white;
    min-width: 70px;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__left > input{
    border: none;
    width: 100%;
    outline: none;
}

.header__right{
    display: flex;
    align-items: center;
}

.header__right > h4{
    margin-left: 10px;
    margin-right: 10px;
}

.header__rightLogout:hover{
    color: #1ed15e;
}