.sidebar{
    height: 100vh;
    flex: 0.2;
    min-width: 230px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
    overflow-y: overlay;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar__logo{
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title{
    font-size: 12px;
    padding: 5px;
    margin-left: 10px;
}

.sidebar > hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.sidebar > a{
    text-decoration: none;
}

.sidebar__active > div{
    background-color: #282828;
}